#!/usr/bin/env bash

if [[ -s ~/.nvm/nvm.sh ]]; then
  unset npm_config_prefix
  set +u
  #shellcheck disable=SC1090
  . ~/.nvm/nvm.sh
  declare -r node_version="20.9.0"
  if ! nvm use "${node_version:?}"; then
    nvm install "${node_version:?}" --latest-npm
    nvm use --delete-prefix "${node_version:?}"
  fi
  set -u
fi
