{
  "all": true,
  "src": "src",
  "exclude": ["src/plugins/types.js", "src/cli.js"],
  "check-coverage": true,
  "lines": 100,
  "branches": 100,
  "statements": 100,
  "reporter": ["text", "html"]
}
